.FingerGym {
    width: 100%;
    margin: auto;
    height: 650px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
    .FingerGym {
        width: 350px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .FingerGym {
        width: 450px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .FingerGym {
        width: 700px;
        height: 1200px;
    }
}